// Specific CSS for your home-page
h2{
  text-align: center;
  margin-top: 5%;
  z-index: 100;
}

.color-text {
  color:#e2714d ;
}

#logo {
  height: 30px;
  width: 70px;
}

.bloc1{
  margin-top: -20px;
  padding-top: 70px;
  background-color: #f5f0db;
  padding-bottom: 32px;
}

.intro {
  display: flex;
  margin: 0 auto;
  height: 600px;
  width: 80%;
}

.intro-mobile{
  display: none;
}

@media only screen and (max-width: 768px) {
  .intro{
    display: none;
  }

  .intro-mobile{
    display: block;
    margin: 0 auto;
    height: 600px;
    width: 80%;
  }
}
.fleches {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.fleche-g {
  width: 400px;
  height: 200px;
}

.fleche-d {
  width: 400px;
  height: 200px;
}

.text-button {
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: black;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: transform .2s;
}

.text-button:hover{
  text-decoration: none;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.button {
  display: flex;
  justify-content: center;
}

.petit-dej {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-radius: 6px;
  width: 550px;
  height: 400px;
}

.row {
  display: flex;
  align-items: center;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.first-col {
  padding-right: 30px;
}
