.row {
  display: flex;
  align-items: stretch;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin-top: 24px;
  border-radius: 8px;
}

.first-col {
  display: inline-block;
  vertical-align: text-top;
  background-color: violet;
  border-radius: 8px;
  color: white;
  box-shadow: rgb(38, 57, 77) 8px 20px 30px -10px;
}

.second-col {
  display: inline-block;
  vertical-align: text-top;
  background-color: yellow;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.act-1 {
  padding: 12px 20px;
  text-align: center;
}

.first-col:hover{
  background-color: yellow;
  color: black;
}
