<div class="contanier">
  <div class="section1">
    <div class="bloc1">
      <%= image_tag "pres-intro.png", alt: "T-shirt", width: 600, class: "intro" %>
    </div>
    <div class="bloc2">
    </div>
  </div>
  <%= link_to "Voir les chambres", rooms_path %>
</div>
