<div class="container">
  <h1>Contattateci</h1>
    <a href="https://formsubmit.co/el/wibisa" class="link-button">Effettuare la richiesta di prenotazione</a>
  <h3>Si prega di inviare il modulo prima di procedere al pagamento! Se il modulo è stato inviato con successo, sullo schermo apparirà una notifica.</h3>
</div>


<%# <%= simple_form_for tree do |f| %>
    <%#= f.input :name %>
    <%#= f.input :address %>
    <%#= f.input :description %>
    <%#= f.input :price_per_year %>
    <%#= f.input :quantity_per_year %>
    <%#= f.input :fruit_type %>
    <%#= f.button :submit %>
  <%# end %>

<%# <form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Inserire il proprio nome: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="lastname">Inserire il proprio cognome: </label>
    <input type="text" name="lastname" id="lastname" required>
  </div>
  <div class="form-example">
    <label for="e-mail">Immettere l'e-mail: </label>
    <input type="e-mail" name="e-mail" id="e-mail" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Subscribe!">
  </div>
</form> %>
